/* Predefined Colors */
/* Utils */
.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

.card {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #ffffff;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 16px; }
  .card.card-w-title {
    padding-bottom: 16px; }
  .card.no-gutter {
    margin-bottom: 0; }
  .card h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 24px 0; }
    .card h1:first-child {
      margin-top: 0px; }
  .card h2 {
    font-size: 18px;
    font-weight: 400; }
  .card h3 {
    font-size: 16px;
    font-weight: 400; }
  .card h4 {
    font-size: 14px;
    font-weight: 400; }

.nopad {
  padding: 0; }
  .nopad .ui-panel-content {
    padding: 0; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 1;
    transform: none; } }
@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); } }
@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); } }
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp; }

.ui-shadow-1 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.ui-shadow-2 {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.ui-shadow-3 {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.ui-shadow-4 {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.ui-shadow-5 {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.ui-g {
  -ms-flex-wrap: wrap; }
  .ui-g.form-group > div {
    padding: 10px; }

.ui-panelgrid.form-group .ui-panelgrid-cell {
  padding: 6px; }
.ui-panelgrid.ui-panelgrid-blank .ui-grid-responsive .ui-grid-row {
  border: 0 none; }

.ui-selectoneradio.form-group .ui-grid-row > div, .ui-selectmanycheckbox.form-group .ui-grid-row > div {
  padding: 6px; }

@-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.splash-screen {
  background-color: #6F5499;
  height: 100%; }
  .splash-screen .splash-loader {
    -webkit-animation-duration: 0.75s;
    -moz-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: rotate-forever;
    -moz-animation-name: rotate-forever;
    animation-name: rotate-forever;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
    height: 30px;
    width: 30px;
    border: 4px solid #ffffff;
    border-right-color: transparent;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    margin: -15px 0 -15px; }

.dashboard .overview-box {
  padding: 15px;
  color: #ffffff;
  min-height: 100px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  .dashboard .overview-box .overview-box-title {
    font-weight: bold;
    width: 100%; }
    .dashboard .overview-box .overview-box-title i {
      vertical-align: middle;
      font-size: 24px; }
    .dashboard .overview-box .overview-box-title span {
      margin-left: .5em;
      vertical-align: middle; }
  .dashboard .overview-box .overview-box-count {
    color: #ffffff;
    font-size: 24px;
    width: 100%;
    display: block;
    padding: 5px 0; }
  .dashboard .overview-box.overview-box-1 {
    background-color: #9189fd;
    border: solid 1px rgba(67, 69, 96, 0.1);
    color: #eae8fe; }
  .dashboard .overview-box.overview-box-2 {
    background-color: #ffbf79;
    border: solid 1px rgba(67, 69, 96, 0.1);
    color: #fff2e5; }
  .dashboard .overview-box.overview-box-3 {
    background-color: #8dc8ff;
    border: solid 1px rgba(67, 69, 96, 0.1);
    color: #e9f4ff; }
  .dashboard .overview-box.overview-box-4 {
    background-color: #f790c8;
    border: solid 1px rgba(67, 69, 96, 0.1);
    color: #fcdaec; }
.dashboard .global-sales .ui-panel-titlebar i {
  margin-right: 5px; }
.dashboard .global-sales .ui-panel-content {
  min-height: 291px; }
.dashboard .global-sales .ui-panel-content {
  padding: 0; }
.dashboard .global-sales table {
  width: 100%;
  border-collapse: collapse; }
  .dashboard .global-sales table th {
    font-weight: 700;
    text-align: left;
    padding: 10px 15px; }
  .dashboard .global-sales table tbody tr:nth-child(odd) {
    background: #f9f9f9; }
  .dashboard .global-sales table tbody tr img {
    width: 36px;
    height: 36px; }
  .dashboard .global-sales table tbody tr td {
    padding: 10px 15px; }
    .dashboard .global-sales table tbody tr td:nth-child(1) {
      font-weight: 700;
      text-align: center; }
    .dashboard .global-sales table tbody tr td:nth-child(3) {
      font-weight: 700; }
.dashboard .product-statistics .ui-panel-titlebar i {
  margin-right: 5px; }
.dashboard .product-statistics .ui-panel-content {
  min-height: 291px; }
.dashboard .product-statistics table {
  width: 100%;
  border-collapse: collapse; }
  .dashboard .product-statistics table td {
    padding: 10px 15px; }
    .dashboard .product-statistics table td.col-overview {
      max-width: 48px; }
      .dashboard .product-statistics table td.col-overview div {
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: #ffffff;
        text-align: center;
        font-size: 24px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%; }
      .dashboard .product-statistics table td.col-overview.col-wait div {
        background-color: #d9534f; }
      .dashboard .product-statistics table td.col-overview.col-success div {
        background-color: #5cb85c; }
      .dashboard .product-statistics table td.col-overview.col-delay div {
        background-color: #f0ad4e; }
      .dashboard .product-statistics table td.col-overview.col-preorder div {
        background-color: #2ea59f; }
    .dashboard .product-statistics table td.col-status .status-time {
      display: block;
      width: 100%;
      color: #777777; }
    .dashboard .product-statistics table td.col-status .status-text {
      font-weight: bold; }
    .dashboard .product-statistics table td.col-numbers {
      font-weight: bold; }
      .dashboard .product-statistics table td.col-numbers span {
        margin-left: 10px;
        color: #777777; }
.dashboard .graphs > .ui-g .ui-g-12 {
  padding-top: 0;
  padding-bottom: 0; }
  .dashboard .graphs > .ui-g .ui-g-12:first-child {
    padding-left: 0; }
  .dashboard .graphs > .ui-g .ui-g-12:last-child {
    padding-right: 0; }
.dashboard .graphs .graph {
  background-color: #ffffff;
  border: solid 1px #dddddd;
  padding: 15px;
  width: 100%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  min-height: 150px; }
  .dashboard .graphs .graph .graph-title {
    display: block;
    font-size: 16px;
    color: #777777; }
  .dashboard .graphs .graph .graph-value {
    display: block;
    margin: 10px 0;
    font-size: 24px;
    font-weight: bold; }
  .dashboard .graphs .graph .graph-change {
    color: #777777; }
  .dashboard .graphs .graph img {
    width: 100%; }
@media (max-width: 1024px) {
  .dashboard .graphs > .ui-g .ui-g-12 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: .5em; } }
.dashboard .task-list {
  overflow: hidden; }
  .dashboard .task-list .ui-panel-content {
    padding: 0px !important;
    min-height: 370px; }
  .dashboard .task-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .dashboard .task-list ul li {
      padding: 10px 15px;
      border-bottom: 1px solid #e5e5e5; }
      .dashboard .task-list ul li:last-child {
        border-bottom: 0 none; }
    .dashboard .task-list ul .ui-chkbox {
      vertical-align: middle;
      margin-right: 5px; }
    .dashboard .task-list ul .task-name {
      vertical-align: middle; }
    .dashboard .task-list ul i {
      color: #777777;
      float: right;
      font-size: 16px; }
.dashboard .contact-form {
  overflow: hidden; }
  .dashboard .contact-form .ui-panel .ui-panel-content {
    min-height: 370px; }
  .dashboard .contact-form .ui-g-12 {
    padding: 10px 15px; }
    .dashboard .contact-form .ui-g-12:last-child {
      padding-bottom: 0; }
.dashboard .contacts {
  overflow: hidden; }
  .dashboard .contacts .ui-panel .ui-panel-content {
    min-height: 370px;
    padding: 0px !important; }
  .dashboard .contacts ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .dashboard .contacts ul li {
      border-bottom: 1px solid #e5e5e5;
      padding: 10px 15px;
      width: 100%;
      box-sizing: border-box;
      text-decoration: none;
      position: relative;
      display: block;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -moz-transition: background-color 0.2s;
      -o-transition: background-color 0.2s;
      -webkit-transition: background-color 0.2s;
      transition: background-color 0.2s; }
      .dashboard .contacts ul li img {
        float: left;
        margin-right: 8px; }
      .dashboard .contacts ul li .contact-info {
        float: left; }
        .dashboard .contacts ul li .contact-info .name {
          display: block;
          margin-top: 4px;
          font-size: 14px; }
        .dashboard .contacts ul li .contact-info .location {
          margin-top: 4px;
          display: block;
          font-size: 12px;
          color: #777777; }
      .dashboard .contacts ul li .contact-actions {
        float: right;
        padding-top: 12px; }
        .dashboard .contacts ul li .contact-actions .connection-status {
          color: #ffffff;
          padding: 2px 3px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          border-radius: 4px; }
          .dashboard .contacts ul li .contact-actions .connection-status.online {
            background-color: #5cb85c; }
          .dashboard .contacts ul li .contact-actions .connection-status.offline {
            background-color: #d9534f; }
        .dashboard .contacts ul li .contact-actions .fa {
          color: #777777;
          margin-left: 5px; }
      .dashboard .contacts ul li:last-child {
        border: 0; }
.dashboard .timeline {
  height: 100%;
  box-sizing: border-box; }
  .dashboard .timeline > .ui-g .ui-g-3 {
    font-size: 14px;
    position: relative;
    border-right: 1px solid #e5e5e5; }
    .dashboard .timeline > .ui-g .ui-g-3 i {
      background-color: #ffffff;
      font-size: 24px;
      position: absolute;
      top: 6px;
      right: -12px; }
  .dashboard .timeline > .ui-g .ui-g-9 {
    padding-left: 1.5em; }
    .dashboard .timeline > .ui-g .ui-g-9 .event-text {
      color: #777777;
      font-size: 14px;
      display: block;
      padding-bottom: 20px; }
    .dashboard .timeline > .ui-g .ui-g-9 .event-content img {
      width: 100%; }
.dashboard .chat .ui-panel.no-pad .ui-panel-content {
  padding: 0 !important; }
.dashboard .chat .ui-panel:last-child {
  margin-top: 15px; }
.dashboard .chat ul {
  padding: 12px;
  margin: 0;
  list-style-type: none; }
  .dashboard .chat ul li {
    padding: 6px 0; }
    .dashboard .chat ul li img {
      width: 36px;
      float: left; }
    .dashboard .chat ul li span {
      padding: 6px 12px;
      float: left;
      display: inline-block;
      margin: 4px 0;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px; }
    .dashboard .chat ul li.message-from img, .dashboard .chat ul li.message-from span {
      float: left; }
    .dashboard .chat ul li.message-from img {
      margin-right: 8px; }
    .dashboard .chat ul li.message-from span {
      background-color: #dff0d8;
      border: solid 1px #d6e9c6; }
    .dashboard .chat ul li.message-own img, .dashboard .chat ul li.message-own span {
      float: right; }
    .dashboard .chat ul li.message-own img {
      margin-left: 8px; }
    .dashboard .chat ul li.message-own span {
      background-color: #d9edf7;
      border: solid 1px #bce8f1; }
.dashboard .chat .new-message {
  height: 40px;
  border-top: 1px solid #e5e5e5;
  color: #afafc0; }
  .dashboard .chat .new-message .message-attachment {
    display: inline-block;
    border-right: 1px solid #e5e5e5;
    width: 40px;
    line-height: 40px;
    height: 100%;
    text-align: center; }
    .dashboard .chat .new-message .message-attachment i {
      line-height: inherit;
      font-size: 24px; }
  .dashboard .chat .new-message .message-input {
    position: relative;
    top: -4px;
    width: calc(100% - 100px);
    display: inline-block; }
    .dashboard .chat .new-message .message-input input {
      border: 0 none;
      font-size: 14px;
      width: 100%;
      background-color: transparent;
      outline: 0 none;
      padding-left: 8px;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none; }

.login-body {
  overflow: hidden;
  margin: 0 auto;
  position: relative; }
  .login-body .login-image {
    height: calc(100% - 380px);
    background: url("../images/login/bg-login.jpg") no-repeat;
    background-size: cover;
    background-position: center; }
  .login-body .login-panel {
    width: 100%;
    height: 380px;
    position: absolute;
    margin-bottom: 0;
    border-radius: 0;
    bottom: 0;
    text-align: center;
    background-color: #292b2c; }
    .login-body .login-panel .login-panel-content {
      width: 400px;
      position: relative;
      margin-left: -200px;
      top: 30px;
      left: 50%;
      color: #ffffff; }
      .login-body .login-panel .login-panel-content .login-label {
        color: #cccccc;
        margin-bottom: 5px; }
      .login-body .login-panel .login-panel-content .login-input {
        margin-top: 5px; }
      .login-body .login-panel .login-panel-content .guest-sign-in {
        color: #999999;
        font-size: 12px; }
      .login-body .login-panel .login-panel-content .welcome-text {
        margin-bottom: 0; }
      .login-body .login-panel .login-panel-content .link-pane {
        padding-top: 24px; }
        .login-body .login-panel .login-panel-content .link-pane a {
          color: #cccccc; }
      .login-body .login-panel .login-panel-content .button-pane {
        padding-top: 16px; }

@media (max-width: 640px) {
  .login-body .login-panel .login-panel-content {
    padding: 0 50px; } }
.exception-body {
  overflow: hidden;
  margin: 0 auto;
  position: relative; }
  .exception-body.error {
    background: url("../images/exception/bg-error.png") no-repeat;
    background-size: cover;
    background-position: center; }
  .exception-body.access {
    background: url("../images/exception/bg-access.png") no-repeat;
    background-size: cover;
    background-position: center; }
  .exception-body.notfound {
    background: url("../images/exception/bg-404.png") no-repeat;
    background-size: cover;
    background-position: center; }
  .exception-body .exception-text {
    text-align: center;
    font-size: 36px;
    padding-top: 30px;
    font-weight: bold;
    color: #ffffff; }
    .exception-body .exception-text .exception-box {
      display: inline-block;
      padding: 2px 8px;
      color: #292b2c;
      background-color: #ffffff; }
    .exception-body .exception-text .notfound-box {
      display: inline-block;
      padding: 2px 8px;
      color: #ffffff;
      background-color: #292b2c; }
    .exception-body .exception-text .notfound-text {
      color: #292b2c; }
  .exception-body .exception-image {
    width: 100%;
    position: absolute;
    top: -36px;
    text-align: center;
    z-index: 1; }
  .exception-body .exception-panel {
    width: 100%;
    height: 160px;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #292b2c; }
    .exception-body .exception-panel .exception-panel-content {
      width: 400px;
      position: relative;
      margin-left: -200px;
      top: 30px;
      left: 50%;
      color: #ffffff; }
      .exception-body .exception-panel .exception-panel-content span.secondary {
        margin: 0;
        font-size: 90px;
        font-weight: 300;
        margin-left: 110px;
        position: relative;
        top: -25px; }
      .exception-body .exception-panel .exception-panel-content .information-text {
        padding: 15px; }
        .exception-body .exception-panel .exception-panel-content .information-text h3 {
          margin: 0;
          margin-bottom: 7px; }
        .exception-body .exception-panel .exception-panel-content .information-text p {
          margin: 0; }
      .exception-body .exception-panel .exception-panel-content p {
        font-weight: 400;
        margin: 0; }

.landing-body {
  background: #f4f4f4; }
  .landing-body .section-button {
    padding: 0.429em 0.857em;
    background-color: #337ab7;
    color: #ffffff;
    text-align: center;
    border: 0 none;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
    .landing-body .section-button:hover {
      background-color: #2d6da3;
      cursor: pointer; }
    .landing-body .section-button:focus {
      background-color: #2d6da3;
      outline: 0 none; }
  .landing-body .landing-menu {
    list-style-type: none;
    margin: 30px 0 0 0;
    padding: 0;
    float: left;
    text-align: center; }
    .landing-body .landing-menu li {
      display: inline-block;
      font-size: 16px;
      margin-left: 36px; }
      .landing-body .landing-menu li:first-child {
        margin-left: 0; }
      .landing-body .landing-menu li a {
        color: #ffffff;
        border-bottom: 1px solid transparent;
        -moz-transition: border 0.3s;
        -o-transition: border 0.3s;
        -webkit-transition: border 0.3s;
        transition: border 0.3s; }
        .landing-body .landing-menu li a:hover {
          border-bottom: 1px solid #ffffff; }
  .landing-body .landing-wrapper #header {
    background: url("../images/landing/landing-main.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1); }
    .landing-body .landing-wrapper #header .header-top {
      width: 1200px;
      margin: 0 auto;
      padding-top: 40px; }
      .landing-body .landing-wrapper #header .header-top .logo {
        position: absolute;
        left: 50%;
        margin-left: -45px;
        width: 90px; }
      .landing-body .landing-wrapper #header .header-top .sign-up-buttonpane {
        float: right;
        margin: 30px 0 0 0; }
        .landing-body .landing-wrapper #header .header-top .sign-up-buttonpane button {
          min-width: 100px;
          padding: 5px 10px;
          border: 1px solid #ffffff;
          background: transparent;
          cursor: pointer;
          color: #ffffff;
          border-radius: 4px;
          font-size: 16px;
          margin-right: 20px; }
          .landing-body .landing-wrapper #header .header-top .sign-up-buttonpane button:hover {
            background-color: #ffffff;
            color: #434560; }
    .landing-body .landing-wrapper #header .header-content {
      width: 1200px;
      margin: 0 auto;
      text-align: center;
      padding: 150px;
      color: #ffffff;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .landing-body .landing-wrapper #header .header-content h1 {
        font-size: 28px;
        font-weight: 400; }
      .landing-body .landing-wrapper #header .header-content h2 {
        font-size: 22px;
        font-weight: 300;
        margin-bottom: 30px; }
      .landing-body .landing-wrapper #header .header-content button {
        width: 170px; }
  .landing-body .landing-wrapper #features {
    background-color: #ffffff;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1); }
    .landing-body .landing-wrapper #features > div {
      width: 1200px;
      margin: 0 auto;
      text-align: center;
      padding: 60px 0 75px 0;
      color: #292b2c; }
      .landing-body .landing-wrapper #features > div .features-content {
        text-align: left; }
        .landing-body .landing-wrapper #features > div .features-content .feature-header {
          height: 47px;
          position: relative; }
          .landing-body .landing-wrapper #features > div .features-content .feature-header img {
            position: absolute;
            bottom: 0; }
        .landing-body .landing-wrapper #features > div .features-content h3 {
          font-size: 18px; }
        .landing-body .landing-wrapper #features > div .features-content p {
          font-size: 14px;
          margin: 6px 0 0 0;
          line-height: 1.5; }
        .landing-body .landing-wrapper #features > div .features-content .ui-g-12 {
          padding: 20px; }
  .landing-body .landing-wrapper #showcase-content-wrapper {
    background-color: #fafcfe;
    position: relative;
    height: 400px;
    overflow: hidden; }
    .landing-body .landing-wrapper #showcase-content-wrapper .showcase-content {
      width: 1200px;
      margin: 0 auto;
      padding: 50px 0 0 100px;
      box-sizing: border-box; }
      .landing-body .landing-wrapper #showcase-content-wrapper .showcase-content h2 {
        margin: 0;
        padding: 0;
        color: #2d353c;
        font-size: 22px;
        margin: 0 auto; }
      .landing-body .landing-wrapper #showcase-content-wrapper .showcase-content p {
        color: #757575;
        width: 400px;
        line-height: 1.5; }
    .landing-body .landing-wrapper #showcase-content-wrapper .intro-logo {
      width: 80px;
      margin-bottom: 30px; }
    .landing-body .landing-wrapper #showcase-content-wrapper .layout-image {
      position: absolute;
      right: 0px;
      bottom: 0;
      width: 800px; }
  .landing-body .landing-wrapper #stats {
    background: #6d6d7e;
    background: -moz-radial-gradient(50% 50%, circle cover, #6d6d7e, #3b3b48);
    background: -webkit-radial-gradient(50% 50%, circle cover, #6d6d7e, #3b3b48);
    background: radial-gradient(circle at 50% 50%, #6d6d7e, #3b3b48);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d7e', endColorstr='#3b3b48',GradientType=1 ); }
    .landing-body .landing-wrapper #stats > div {
      width: 1200px;
      margin: 0 auto;
      padding: 30px 0; }
      .landing-body .landing-wrapper #stats > div .stat-card {
        padding-top: 45px;
        padding-bottom: 45px;
        text-align: left;
        color: #ffffff;
        font-weight: bold; }
      .landing-body .landing-wrapper #stats > div .component-content {
        padding: 30px; }
        .landing-body .landing-wrapper #stats > div .component-content.components {
          background-color: #a83279;
          background-image: -webkit-gradient(linear, left top, right top, from(#a83279), to(#b04167));
          background-image: -webkit-linear-gradient(left, #a83279, #b04167);
          background-image: -moz-linear-gradient(left, #a83279, #b04167);
          background-image: -ms-linear-gradient(left, #a83279, #b04167);
          background-image: -o-linear-gradient(left, #a83279, #b04167);
          background-image: linear-gradient(to right, #a83279, #b04167);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#a83279', endColorStr='#b04167', gradientType='1'); }
        .landing-body .landing-wrapper #stats > div .component-content.development {
          background-color: #457fca;
          background-image: -webkit-gradient(linear, left top, right top, from(#457fca), to(#5691c8));
          background-image: -webkit-linear-gradient(left, #457fca, #5691c8);
          background-image: -moz-linear-gradient(left, #457fca, #5691c8);
          background-image: -ms-linear-gradient(left, #457fca, #5691c8);
          background-image: -o-linear-gradient(left, #457fca, #5691c8);
          background-image: linear-gradient(to right, #457fca, #5691c8);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#457fca', endColorStr='#5691c8', gradientType='1'); }
        .landing-body .landing-wrapper #stats > div .component-content.consumed {
          background-color: #563d7c;
          background-image: -webkit-gradient(linear, left top, left bottom, from(#563d7c), to(#6f5499));
          background-image: -webkit-linear-gradient(top, #563d7c, #6f5499);
          background-image: -moz-linear-gradient(top, #563d7c, #6f5499);
          background-image: -ms-linear-gradient(top, #563d7c, #6f5499);
          background-image: -o-linear-gradient(top, #563d7c, #6f5499);
          background-image: linear-gradient(to bottom, #563d7c, #6f5499);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#563d7c', endColorStr='#6f5499'); }
  .landing-body .landing-wrapper #pricing {
    background-color: #ffffff;
    padding: 60px 0 75px 0;
    text-align: center; }
    .landing-body .landing-wrapper #pricing > div {
      width: 1200px;
      margin: 0 auto;
      text-align: left; }
      .landing-body .landing-wrapper #pricing > div h1 {
        font-size: 22px;
        font-weight: 600;
        margin: 15px 0 45px 0; }
      .landing-body .landing-wrapper #pricing > div .ui-g-12 .price-type {
        border: 1px solid #dddddd;
        height: 100%;
        color: #6a6a7d;
        box-sizing: border-box;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px; }
        .landing-body .landing-wrapper #pricing > div .ui-g-12 .price-type h3 {
          font-size: 18px;
          margin: 0 0 5px 0; }
        .landing-body .landing-wrapper #pricing > div .ui-g-12 .price-type .price-header {
          background-color: #f5f5f5;
          padding: 30px;
          border-bottom: 1px solid #dddddd; }
        .landing-body .landing-wrapper #pricing > div .ui-g-12 .price-type .price-for {
          color: #bdc3c9;
          font-weight: bold; }
        .landing-body .landing-wrapper #pricing > div .ui-g-12 .price-type .price-content span {
          color: #6a6a7d; }
        .landing-body .landing-wrapper #pricing > div .ui-g-12 .price-type .price-footer {
          padding: 10px 60px 30px 60px; }
        .landing-body .landing-wrapper #pricing > div .ui-g-12 .price-type ul {
          padding: 0;
          margin-top: 0;
          min-height: 175px; }
          .landing-body .landing-wrapper #pricing > div .ui-g-12 .price-type ul li {
            color: #6ba6d9;
            list-style-type: none;
            padding: 10px 30px 10px 10px;
            border-bottom: 1px solid #dddddd; }
            .landing-body .landing-wrapper #pricing > div .ui-g-12 .price-type ul li .fa {
              margin-left: 20px; }
            .landing-body .landing-wrapper #pricing > div .ui-g-12 .price-type ul li span {
              margin-left: 12px; }
        .landing-body .landing-wrapper #pricing > div .ui-g-12 .price-type button {
          width: 100%; }
  .landing-body .landing-wrapper #video {
    padding: 60px 0 75px 0;
    text-align: left; }
    .landing-body .landing-wrapper #video > div {
      width: 1200px;
      margin: 0 auto; }
      .landing-body .landing-wrapper #video > div .video-content {
        text-align: right; }
        .landing-body .landing-wrapper #video > div .video-content p {
          line-height: 1.5; }
  .landing-body .landing-wrapper #footer {
    padding: 30px 0;
    background-color: #292b2c;
    border: solid 1px #dee4e9; }
    .landing-body .landing-wrapper #footer .social-icons {
      font-size: 36px;
      vertical-align: middle;
      text-align: right; }
      .landing-body .landing-wrapper #footer .social-icons a {
        color: #ffffff; }
    .landing-body .landing-wrapper #footer > div {
      width: 1200px;
      margin: 0 auto;
      text-align: left; }
      .landing-body .landing-wrapper #footer > div img {
        width: 120px;
        margin-bottom: 10px; }
      .landing-body .landing-wrapper #footer > div span {
        color: #cccccc;
        line-height: 1.5; }
      .landing-body .landing-wrapper #footer > div .footer-newsletter a {
        position: relative; }
      .landing-body .landing-wrapper #footer > div .footer-newsletter input {
        width: 180px; }
      .landing-body .landing-wrapper #footer > div .footer-newsletter .input-icon {
        position: absolute;
        right: 5px;
        top: 0;
        color: #3e9018;
        font-size: 18px; }
      .landing-body .landing-wrapper #footer > div .landing-menu {
        float: none;
        margin: 0;
        margin-left: 130px; }
        .landing-body .landing-wrapper #footer > div .landing-menu li {
          display: block;
          margin: 0;
          text-align: left;
          line-height: 1.5; }
          .landing-body .landing-wrapper #footer > div .landing-menu li a {
            color: #cccccc;
            border-bottom: 1px solid transparent;
            -moz-transition: border 0.3s;
            -o-transition: border 0.3s;
            -webkit-transition: border 0.3s;
            transition: border 0.3s; }
            .landing-body .landing-wrapper #footer > div .landing-menu li a:hover {
              color: #ffffff;
              background-color: transparent; }

@media (max-width: 1200px) {
  .landing-body {
    background: #f4f4f4; }
    .landing-body .landing-menu {
      float: none;
      position: absolute;
      left: 50%;
      margin-left: -150px;
      top: 150px; }
      .landing-body .landing-menu li {
        font-size: 16px;
        margin-left: 16px; }
    .landing-body .landing-wrapper #header .header-top {
      width: 100%; }
      .landing-body .landing-wrapper #header .header-top .sign-up-buttonpane {
        position: absolute;
        float: none;
        left: 50%;
        margin-left: -76px;
        top: 200px; }
    .landing-body .landing-wrapper #header .header-content {
      width: 100%;
      padding: 250px 20px 150px 20px; }
    .landing-body .landing-wrapper #features {
      padding: 0 50px; }
      .landing-body .landing-wrapper #features > div {
        width: 100%; }
    .landing-body .landing-wrapper #showcase-content-wrapper {
      height: 600px; }
      .landing-body .landing-wrapper #showcase-content-wrapper .showcase-content {
        padding: 50px;
        width: 100%;
        text-align: center; }
        .landing-body .landing-wrapper #showcase-content-wrapper .showcase-content p {
          width: 100%; }
    .landing-body .landing-wrapper #stats > div {
      width: 100%;
      padding: 60px 50px; }
      .landing-body .landing-wrapper #stats > div .stat-card {
        padding: 10px 7px; }
    .landing-body .landing-wrapper #pricing > div {
      width: 100%;
      padding: 0 50px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .landing-body .landing-wrapper #video > div {
      width: 100%; }
      .landing-body .landing-wrapper #video > div .video-container {
        float: none;
        text-align: center; }
      .landing-body .landing-wrapper #video > div .video-content {
        text-align: center; }
      .landing-body .landing-wrapper #video > div iframe {
        width: 360px;
        height: 220px; }
    .landing-body .landing-wrapper #footer > div {
      width: 100%;
      text-align: left;
      padding: 0 50px; }
      .landing-body .landing-wrapper #footer > div .social-icons {
        text-align: center; }
      .landing-body .landing-wrapper #footer > div ul {
        display: none; } }
@media (max-width: 720px) {
  .landing-body .landing-wrapper #showcase-content-wrapper {
    height: 550px; }
    .landing-body .landing-wrapper #showcase-content-wrapper .showcase-content {
      padding: 50px; }
    .landing-body .landing-wrapper #showcase-content-wrapper .layout-image {
      width: 500px; }
  .landing-body .landing-wrapper #video > div iframe {
    width: 300px;
    height: 200px; }
  .landing-body .landing-wrapper #footer > div {
    text-align: center; } }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #212529;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #EEF2F6; }
  body a {
    text-decoration: none; }

.layout-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #424242;
  opacity: 0.7;
  top: 0;
  left: 0;
  z-index: 999999997; }

.layout-wrapper .topbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 60px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }
  .layout-wrapper .topbar .topbar-left {
    padding: 15px;
    height: 60px;
    width: 235px;
    float: left;
    background-color: #457fca;
    background-image: -webkit-gradient(linear, left top, right top, from(#457fca), to(#5691c8));
    background-image: -webkit-linear-gradient(left, #457fca, #5691c8);
    background-image: -moz-linear-gradient(left, #457fca, #5691c8);
    background-image: -ms-linear-gradient(left, #457fca, #5691c8);
    background-image: -o-linear-gradient(left, #457fca, #5691c8);
    background-image: linear-gradient(to right, #457fca, #5691c8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#457fca', endColorStr='#5691c8', gradientType='1');
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25); }
    .layout-wrapper .topbar .topbar-left .topbar-logo {
      height: 30px; }
  .layout-wrapper .topbar .topbar-right {
    padding: 15px;
    height: 60px;
    background-color: #457fca;
    background-image: -webkit-gradient(linear, left top, right top, from(#457fca), to(#5691c8));
    background-image: -webkit-linear-gradient(left, #457fca, #5691c8);
    background-image: -moz-linear-gradient(left, #457fca, #5691c8);
    background-image: -ms-linear-gradient(left, #457fca, #5691c8);
    background-image: -o-linear-gradient(left, #457fca, #5691c8);
    background-image: linear-gradient(to right, #457fca, #5691c8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#457fca', endColorStr='#5691c8', gradientType='1'); }
    .layout-wrapper .topbar .topbar-right #menu-button {
      color: #234b7d;
      display: inline-block;
      vertical-align: middle;
      width: 38px;
      height: 38px;
      position: absolute;
      left: 219px;
      text-align: center;
      background-color: #ffffff;
      cursor: pointer;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px; }
      .layout-wrapper .topbar .topbar-right #menu-button:hover {
        background-color: #f4f4f4; }
      .layout-wrapper .topbar .topbar-right #menu-button i {
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        font-size: 32px; }
    .layout-wrapper .topbar .topbar-right #topbar-menu-button {
      display: none;
      color: #ffffff;
      vertical-align: middle;
      height: 36px;
      position: absolute;
      top: 12px;
      right: 25px;
      cursor: pointer;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .layout-wrapper .topbar .topbar-right #topbar-menu-button i {
        -moz-transition: color 0.5s;
        -o-transition: color 0.5s;
        -webkit-transition: color 0.5s;
        transition: color 0.5s;
        font-size: 36px; }
    .layout-wrapper .topbar .topbar-right .topbar-items .search-item .topbar-search {
      position: relative;
      top: -2px; }
      .layout-wrapper .topbar .topbar-right .topbar-items .search-item .topbar-search input {
        position: relative;
        font-size: 14px;
        background-color: #ffffff;
        padding: 5px 12px;
        border: 1px solid #cccccc;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -moz-transition: box-shadow 0.3s, border-color 0.3s;
        -o-transition: box-shadow 0.3s, border-color 0.3s;
        -webkit-transition: box-shadow 0.3s, border-color 0.3s;
        transition: box-shadow 0.3s, border-color 0.3s;
        width: 200px; }
        .layout-wrapper .topbar .topbar-right .topbar-items .search-item .topbar-search input:focus {
          outline: 0 none;
          border: 1px solid #337ab7;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px 0 #337ab7;
          -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px 0 #337ab7;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px 0 #337ab7; }
      .layout-wrapper .topbar .topbar-right .topbar-items .search-item .topbar-search i {
        position: absolute;
        color: #777777;
        top: 5px;
        right: 10px;
        font-size: 18px; }
.layout-wrapper .layout-menu-container {
  overflow: auto;
  position: fixed;
  width: 235px;
  z-index: 99;
  top: 60px;
  height: 100%;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(left, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(left, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(left, #ffffff, #ffffff);
  background-image: -o-linear-gradient(left, #ffffff, #ffffff);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', endColorStr='#ffffff', gradientType='1');
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  -moz-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s; }
  .layout-wrapper .layout-menu-container .ui-scrollpanel {
    background: transparent;
    border-radius: 0;
    border: none; }
    .layout-wrapper .layout-menu-container .ui-scrollpanel .ui-scrollpanel-bar {
      background: #aaaaaa;
      opacity: 0.3;
      filter: alpha(opacity=30); }
    .layout-wrapper .layout-menu-container .ui-scrollpanel .ui-scrollpanel-hidden {
      display: block;
      visibility: hidden; }
    .layout-wrapper .layout-menu-container .ui-scrollpanel .menu-scroll-content {
      width: 253px;
      padding-right: 18px; }
    .layout-wrapper .layout-menu-container .ui-scrollpanel .layout-main-menu {
      margin-top: 16px;
      padding-bottom: 120px; }
  .layout-wrapper .layout-menu-container .profile {
    padding: 15px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15); }
    .layout-wrapper .layout-menu-container .profile:after {
      content: "";
      display: table;
      clear: both; }
    .layout-wrapper .layout-menu-container .profile > a {
      cursor: pointer; }
      .layout-wrapper .layout-menu-container .profile > a .profile-image {
        width: 45px;
        height: 45px;
        float: right;
        margin-left: 4px; 
        border-radius: 20px;}
      .layout-wrapper .layout-menu-container .profile > a .profile-name {
        display: block;
        color: #212529;
        vertical-align: middle;
        font-size: 16px;
        font-weight: bold;
        text-align: right;
        margin-top: 4px; }
      .layout-wrapper .layout-menu-container .profile > a .profile-role {
        display: block;
        min-width: 100px;
        text-align: right;
        font-size: 12px;
        float: right;
        color: #777777; }
      .layout-wrapper .layout-menu-container .profile > a i {
        float: right;
        color: #777777;
        vertical-align: middle;
        -moz-transition: transform 0.3s;
        -o-transition: transform 0.3s;
        -webkit-transition: transform 0.3s;
        transition: transform 0.3s; }
    .layout-wrapper .layout-menu-container .profile.profile-expanded i {
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }
    .layout-wrapper .layout-menu-container .profile.profile-expanded + .profile-menu {
      max-height: 1000px; }
  .layout-wrapper .layout-menu-container .profile-menu {
    max-height: 0;
    border-bottom: 1px solid #d6d5d5;
    overflow: hidden;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1); }
    .layout-wrapper .layout-menu-container .profile-menu li:first-child {
      margin-top: 16px; }
    .layout-wrapper .layout-menu-container .profile-menu li:last-child {
      margin-bottom: 16px; }
    .layout-wrapper .layout-menu-container .profile-menu a {
      cursor: pointer; }
  .layout-wrapper .layout-menu-container.layout-menu-dark {
    background-color: #363a41;
    background-image: -webkit-gradient(linear, left top, right top, from(#363a41), to(#363a41));
    background-image: -webkit-linear-gradient(left, #363a41, #363a41);
    background-image: -moz-linear-gradient(left, #363a41, #363a41);
    background-image: -ms-linear-gradient(left, #363a41, #363a41);
    background-image: -o-linear-gradient(left, #363a41, #363a41);
    background-image: linear-gradient(to right, #363a41, #363a41);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#363a41', endColorStr='#363a41', gradientType='1'); }
    .layout-wrapper .layout-menu-container.layout-menu-dark .profile .profile-name, .layout-wrapper .layout-menu-container.layout-menu-dark .profile .profile-role {
      color: #ffffff; }
    .layout-wrapper .layout-menu-container.layout-menu-dark .profile i {
      color: #ffffff; }
    .layout-wrapper .layout-menu-container.layout-menu-dark .profile-menu {
      border-bottom: 1px solid #4a4d54; }
    .layout-wrapper .layout-menu-container.layout-menu-dark ul.layout-menu li a {
      color: #ffffff; }
      .layout-wrapper .layout-menu-container.layout-menu-dark ul.layout-menu li a i {
        color: #ffffff; }
      .layout-wrapper .layout-menu-container.layout-menu-dark ul.layout-menu li a:hover {
        background-color: #4a4d54; }
      .layout-wrapper .layout-menu-container.layout-menu-dark ul.layout-menu li a.active-menuitem-routerlink {
        color: #428dcd; }
        .layout-wrapper .layout-menu-container.layout-menu-dark ul.layout-menu li a.active-menuitem-routerlink i:first-child {
          color: #428dcd; }
    .layout-wrapper .layout-menu-container.layout-menu-dark ul.layout-menu li.active-menuitem > a {
      border-left-color: #6aa5d8;
      color: #6aa5d8;
      background-color: #282b30; }
      .layout-wrapper .layout-menu-container.layout-menu-dark ul.layout-menu li.active-menuitem > a i {
        color: #6aa5d8; }
.layout-wrapper.menu-layout-overlay .layout-menu-container {
  margin-left: -250px; }
.layout-wrapper.menu-layout-overlay .layout-main, .layout-wrapper.menu-layout-overlay .layout-footer {
  margin-left: 0; }
.layout-wrapper.menu-layout-overlay.layout-menu-overlay-active .layout-menu-container {
  z-index: 999999999;
  margin-left: 0px; }
.layout-wrapper.menu-layout-overlay.layout-menu-overlay-active .layout-mask {
  display: block; }
.layout-wrapper.menu-layout-overlay.layout-menu-overlay-active .topbar .topbar-right #menu-button i {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }
.layout-wrapper.menu-layout-overlay .topbar {
  z-index: 999999998; }
  .layout-wrapper.menu-layout-overlay .topbar .topbar-right #menu-button i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
.layout-wrapper .layout-main {
  padding: 80px 15px 15px 15px;
  -moz-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s; }
.layout-wrapper .layout-mask {
  display: none; }
.layout-wrapper .layout-footer {
  -moz-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s; }
.layout-wrapper .layout-menu {
  margin: 0;
  padding: 0;
  list-style: none; 
  font-size: 0.8rem;
  }
  .layout-wrapper .layout-menu li a {
    cursor: pointer;
    display: block;
    padding: 10px 15px;
    color: #212529;
    width: 100%;
    -moz-transition: background-color 0.3s, border-left-color 0.3s;
    -o-transition: background-color 0.3s, border-left-color 0.3s;
    -webkit-transition: background-color 0.3s, border-left-color 0.3s;
    transition: background-color 0.3s, border-left-color 0.3s;
    overflow: hidden;
    border-left: 4px solid transparent; }
    .layout-wrapper .layout-menu li a i {
      color: #777777; }
    .layout-wrapper .layout-menu li a i:first-child {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      font-size: 16px; }
    .layout-wrapper .layout-menu li a i.menuitem-toggle-icon {
      float: right;
      font-size: 16px;
      margin-top: 2px;
      margin-right: -3px;
      -moz-transition: transform 0.3s;
      -o-transition: transform 0.3s;
      -webkit-transition: transform 0.3s;
      transition: transform 0.3s; }
    .layout-wrapper .layout-menu li a .submenu-arrow {
      display: none; }
    .layout-wrapper .layout-menu li a:hover {
      background-color: #f4f4f4; }
    .layout-wrapper .layout-menu li a span {
      display: inline-block;
      vertical-align: middle; }
    .layout-wrapper .layout-menu li a .menuitem-badge {
      float: right;
      width: 16px;
      height: 16px;
      margin-right: 2px;
      text-align: center;
      background-color: #3eb839;
      color: #ffffff;
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      margin-top: 2px; }
    .layout-wrapper .layout-menu li a.active-menuitem-routerlink {
      color: #337ab7; }
      .layout-wrapper .layout-menu li a.active-menuitem-routerlink i:first-child {
        color: #337ab7; }
  .layout-wrapper .layout-menu li.active-menuitem > a {
    color: #337ab7;
    background-color: #e8e8e8;
    border-left-color: #337ab7; }
    .layout-wrapper .layout-menu li.active-menuitem > a i:first-child {
      color: #337ab7; }
    .layout-wrapper .layout-menu li.active-menuitem > a i.menuitem-toggle-icon {
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }
  .layout-wrapper .layout-menu li.active-menuitem > ul {
    max-height: 1000px; }
  .layout-wrapper .layout-menu li ul {
    max-height: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1); }
    .layout-wrapper .layout-menu li ul li a {
      padding: 10px 15px 10px 30px; }
      .layout-wrapper .layout-menu li ul li a i:first-child {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        font-size: 20px; }
    .layout-wrapper .layout-menu li ul li ul li a {
      padding-left: 45px; }
    .layout-wrapper .layout-menu li ul li ul ul li a {
      padding-left: 60px; }
    .layout-wrapper .layout-menu li ul li ul ul ul li a {
      padding-left: 75px; }
    .layout-wrapper .layout-menu li ul li ul ul ul ul li a {
      padding-left: 90px; }
  .layout-wrapper .layout-menu .layout-menu-tooltip {
    display: none;
    padding: 0 5px;
    position: absolute;
    left: 76px;
    top: 5px;
    z-index: 101;
    line-height: 1; }
    .layout-wrapper .layout-menu .layout-menu-tooltip .layout-menu-tooltip-text {
      padding: 6px 8px;
      font-weight: 700;
      background-color: #4d535d;
      color: #ffffff;
      min-width: 75px;
      white-space: nowrap;
      text-align: center;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
    .layout-wrapper .layout-menu .layout-menu-tooltip .layout-menu-tooltip-arrow {
      position: absolute;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      top: 50%;
      left: 0;
      margin-top: -5px;
      border-width: 5px 5px 5px 0;
      border-right-color: #4d535d; }
.layout-wrapper .layout-footer {
  padding: 32px 20px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25); }
  .layout-wrapper .layout-footer .footer-text-left img {
    height: 25px; }
  .layout-wrapper .layout-footer .footer-text-right {
    color: #777777;
    float: right; }
    .layout-wrapper .layout-footer .footer-text-right a {
      cursor: pointer;
      margin-left: 15px;
      color: #777777;
      font-size: 24px; }

.ajax-loader {
  font-size: 32px;
  color: #337ab7; }

@media (min-width: 1025px) {
  .layout-wrapper .topbar-items {
    -webkit-animation-name: none;
    animation-name: none;
    float: right;
    margin: 5px 0 0 0;
    padding: 0;
    list-style-type: none; }
    .layout-wrapper .topbar-items > li {
      float: right;
      position: relative;
      margin-left: 14px; }
      .layout-wrapper .topbar-items > li > a {
        cursor: pointer;
        position: relative;
        display: block; }
        .layout-wrapper .topbar-items > li > a .topbar-item-name {
          display: none; }
        .layout-wrapper .topbar-items > li > a .topbar-badge {
          position: absolute;
          right: 0;
          top: -5px;
          background-color: #3eb839;
          color: #ffffff;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          padding: 2px 4px;
          display: block;
          font-size: 12px;
          line-height: 12px; }
      .layout-wrapper .topbar-items > li .topbar-icon {
        font-size: 24px;
        color: #ffffff;
        -moz-transition: color 0.3s;
        -o-transition: color 0.3s;
        -webkit-transition: color 0.3s;
        transition: color 0.3s; }
        .layout-wrapper .topbar-items > li .topbar-icon:hover {
          color: #cccccc; }
      .layout-wrapper .topbar-items > li.profile-item a {
        -moz-transition: color 0.3s;
        -o-transition: color 0.3s;
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
        top: -3px; }
        .layout-wrapper .topbar-items > li.profile-item a:after {
          content: "";
          display: table;
          clear: both; }
        .layout-wrapper .topbar-items > li.profile-item a .profile-image {
          width: 36px;
          height: 36px;
          margin-top: -4px;
          float: right;
          margin-left: 12px; }
        .layout-wrapper .topbar-items > li.profile-item a .topbar-item-name {
          display: block;
          float: left;
          color: #ffffff; }
        .layout-wrapper .topbar-items > li.profile-item a .topbar-item-role {
          display: block;
          font-size: 12px;
          color: #ffffff; }
      .layout-wrapper .topbar-items > li > ul {
        position: absolute;
        top: 50px;
        right: 5px;
        display: none;
        width: 250px;
        background-color: #ffffff;
        border-top: 4px solid #337ab7;
        -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
        -webkit-animation-duration: .5s;
        -moz-animation-duration: .5s;
        animation-duration: .5s; }
        .layout-wrapper .topbar-items > li > ul:before {
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 15px solid #337ab7;
          content: " ";
          position: absolute;
          top: -15px;
          left: 232px; }
      .layout-wrapper .topbar-items > li.active-top-menu > ul {
        display: block; }
      .layout-wrapper .topbar-items > li .topbar-message img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 12px; }
  .layout-wrapper.menu-layout-static .layout-menu-container {
    margin-left: 0; }
  .layout-wrapper.menu-layout-static .layout-main, .layout-wrapper.menu-layout-static .layout-footer {
    margin-left: 235px; }
  .layout-wrapper.menu-layout-static.layout-menu-static-inactive .layout-menu-container {
    margin-left: -250px; }
  .layout-wrapper.menu-layout-static.layout-menu-static-inactive .layout-main, .layout-wrapper.menu-layout-static.layout-menu-static-inactive .layout-footer {
    margin-left: 0px; }
  .layout-wrapper.menu-layout-static.layout-menu-static-inactive .topbar .topbar-right #menu-button i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .layout-wrapper.menu-layout-static .layout-mask {
    display: none; }
  .layout-wrapper.menu-layout-horizontal .topbar {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none; }
    .layout-wrapper.menu-layout-horizontal .topbar .topbar-left {
      background: #457fca;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none; }
    .layout-wrapper.menu-layout-horizontal .topbar .topbar-right {
      background: #457fca; }
      .layout-wrapper.menu-layout-horizontal .topbar .topbar-right #menu-button {
        display: none; }
  .layout-wrapper.menu-layout-horizontal .layout-menu-container {
    overflow: visible;
    position: fixed;
    width: 100%;
    top: 60px;
    height: auto;
    background-color: #5691c8;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container .ui-scrollpanel {
      overflow: visible;
      border: none; }
      .layout-wrapper.menu-layout-horizontal .layout-menu-container .ui-scrollpanel .ui-scrollpanel-wrapper {
        overflow: visible; }
        .layout-wrapper.menu-layout-horizontal .layout-menu-container .ui-scrollpanel .ui-scrollpanel-wrapper .ui-scrollpanel-content {
          overflow: visible; }
      .layout-wrapper.menu-layout-horizontal .layout-menu-container .ui-scrollpanel .menu-scroll-content {
        width: 100%; }
      .layout-wrapper.menu-layout-horizontal .layout-menu-container .ui-scrollpanel .layout-main-menu {
        padding-bottom: 0; }
      .layout-wrapper.menu-layout-horizontal .layout-menu-container .ui-scrollpanel .ui-scrollpanel-bar {
        display: none; }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu:last-child {
      margin-top: 0; }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li {
      float: left;
      position: relative; }
      .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li > a:hover {
        background-color: #e8e8e8;
        color: #212529; }
        .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li > a:hover i {
          color: #212529; }
      .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li > ul {
        padding: 5px 0;
        z-index: 100;
        position: absolute;
        top: 50px;
        left: 0px;
        width: 250px;
        background-color: #ffffff;
        border-top: 4px solid #337ab7;
        max-height: none;
        display: none;
        -moz-transition: none;
        -o-transition: none;
        -webkit-transition: none;
        transition: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2); }
        .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li > ul li a {
          padding: 10px 16px; }
        .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li > ul li ul {
          position: static; }
          .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li > ul li ul li a {
            padding-left: 32px; }
          .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li > ul li ul ul li a {
            padding-left: 48px; }
          .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li > ul li ul ul ul li a {
            padding-left: 64px; }
          .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li > ul li ul ul ul ul li a {
            padding-left: 80px; }
          .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li > ul li ul ul ul ul ul li a {
            padding-left: 96px; }
        .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li > ul li.active-menuitem > a {
          color: #337ab7;
          background-color: #e8e8e8; }
      .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li.active-menuitem .arrow {
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 15px solid #337ab7;
        content: " ";
        position: absolute;
        top: 38px;
        left: 20px; }
      .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li.active-menuitem > a {
        color: #337ab7;
        background-color: #e8e8e8;
        border-left-color: transparent; }
        .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li.active-menuitem > a i {
          color: #337ab7; }
      .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li.active-menuitem > ul {
        display: block; }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu li a .menuitem-badge {
      margin-right: 0;
      margin-left: 4px;
      margin-top: 0; }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu li a .menuitem-toggle-icon {
      margin-top: 0; }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container.layout-menu-dark {
      background-color: #363a41;
      background-image: -webkit-gradient(linear, left top, right top, from(#363a41), to(#363a41));
      background-image: -webkit-linear-gradient(left, #363a41, #363a41);
      background-image: -moz-linear-gradient(left, #363a41, #363a41);
      background-image: -ms-linear-gradient(left, #363a41, #363a41);
      background-image: -o-linear-gradient(left, #363a41, #363a41);
      background-image: linear-gradient(to right, #363a41, #363a41);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#363a41', endColorStr='#363a41', gradientType='1'); }
      .layout-wrapper.menu-layout-horizontal .layout-menu-container.layout-menu-dark ul.layout-menu li a {
        color: #ffffff; }
        .layout-wrapper.menu-layout-horizontal .layout-menu-container.layout-menu-dark ul.layout-menu li a i {
          color: #ffffff; }
        .layout-wrapper.menu-layout-horizontal .layout-menu-container.layout-menu-dark ul.layout-menu li a:hover {
          background-color: #4a4d54; }
      .layout-wrapper.menu-layout-horizontal .layout-menu-container.layout-menu-dark ul.layout-menu li.active-menuitem > a {
        color: #6aa5d8;
        background-color: #282b30; }
        .layout-wrapper.menu-layout-horizontal .layout-menu-container.layout-menu-dark ul.layout-menu li.active-menuitem > a i {
          color: #6aa5d8; }
      .layout-wrapper.menu-layout-horizontal .layout-menu-container.layout-menu-dark ul.layout-menu li ul {
        background-color: #363a41;
        background-image: -webkit-gradient(linear, left top, right top, from(#363a41), to(#363a41));
        background-image: -webkit-linear-gradient(left, #363a41, #363a41);
        background-image: -moz-linear-gradient(left, #363a41, #363a41);
        background-image: -ms-linear-gradient(left, #363a41, #363a41);
        background-image: -o-linear-gradient(left, #363a41, #363a41);
        background-image: linear-gradient(to right, #363a41, #363a41);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#363a41', endColorStr='#363a41', gradientType='1'); }
  .layout-wrapper.menu-layout-horizontal .layout-main {
    padding-top: 115px;
    margin-left: 0px; }
  .layout-wrapper.menu-layout-horizontal .layout-footer {
    margin-left: 0px; }
  .layout-wrapper.menu-layout-horizontal .layout-mask {
    display: none; }
  .layout-wrapper.menu-layout-slim .topbar {
    left: 75px;
    width: calc(100% - 75px); }
    .layout-wrapper.menu-layout-slim .topbar .topbar-left {
      background: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
    .layout-wrapper.menu-layout-slim .topbar .topbar-right #menu-button {
      display: none; }
  .layout-wrapper.menu-layout-slim .layout-menu-container {
    width: 75px;
    overflow: visible;
    z-index: 100;
    top: 0; }
    .layout-wrapper.menu-layout-slim .layout-menu-container .ui-scrollpanel {
      border: none;
      border-radius: 0; }
      .layout-wrapper.menu-layout-slim .layout-menu-container .ui-scrollpanel .ui-scrollpanel-wrapper {
        overflow: visible; }
        .layout-wrapper.menu-layout-slim .layout-menu-container .ui-scrollpanel .ui-scrollpanel-wrapper .ui-scrollpanel-content {
          overflow: visible; }
      .layout-wrapper.menu-layout-slim .layout-menu-container .ui-scrollpanel .ui-scrollpanel-bar {
        display: none; }
      .layout-wrapper.menu-layout-slim .layout-menu-container .ui-scrollpanel .menu-scroll-content {
        width: 100%; }
    .layout-wrapper.menu-layout-slim .layout-menu-container .profile {
      height: 60px;
      padding-top: 7px; }
      .layout-wrapper.menu-layout-slim .layout-menu-container .profile > a .profile-name, .layout-wrapper.menu-layout-slim .layout-menu-container .profile > a .profile-role, .layout-wrapper.menu-layout-slim .layout-menu-container .profile > a i {
        display: none; }
    .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu {
      padding: 0; }
      .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li {
        position: relative; }
        .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li > a {
          text-align: center;
          padding-left: 0;
          padding-right: 0;
          padding-top: 8px;
          padding-bottom: 8px; }
          .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li > a i:first-child {
            font-size: 19px; }
          .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li > a span, .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li > a i.menuitem-toggle-icon {
            display: none; }
          .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li > a:hover + .layout-menu-tooltip {
            display: block; }
        .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li > ul {
          -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          background-color: #ffffff;
          position: absolute;
          top: 0;
          left: 75px;
          min-width: 200px;
          max-height: none;
          display: none;
          -moz-transition: none;
          -o-transition: none;
          -webkit-transition: none;
          transition: none; }
          .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li > ul li a {
            padding-left: 16px; }
          .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li > ul li ul li a {
            padding-left: 32px; }
          .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li > ul li ul ul li a {
            padding-left: 48px; }
          .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li > ul li ul ul ul li a {
            padding-left: 64px; }
          .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li > ul li ul ul ul ul li a {
            padding: 80px; }
          .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li > ul li ul ul ul ul ul li a {
            padding: 96px; }
        .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li.active-menuitem > a:hover + .layout-menu-tooltip {
          display: none; }
        .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li.active-menuitem > ul {
          display: block; }
    .layout-wrapper.menu-layout-slim .layout-menu-container.layout-menu-dark .layout-menu > li > ul {
      background-color: #363a41;
      background-image: -webkit-gradient(linear, left top, right top, from(#363a41), to(#363a41));
      background-image: -webkit-linear-gradient(left, #363a41, #363a41);
      background-image: -moz-linear-gradient(left, #363a41, #363a41);
      background-image: -ms-linear-gradient(left, #363a41, #363a41);
      background-image: -o-linear-gradient(left, #363a41, #363a41);
      background-image: linear-gradient(to right, #363a41, #363a41);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#363a41', endColorStr='#363a41', gradientType='1'); }
  .layout-wrapper.menu-layout-slim .layout-main {
    margin-left: 75px; }
  .layout-wrapper.menu-layout-slim .layout-footer {
    margin-left: 75px; } }
@media (max-width: 1024px) {
  .layout-wrapper.menu-layout-static .topbar .topbar-right #menu-button i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .layout-wrapper.menu-layout-static .layout-menu-container {
    margin-left: -265px; }
  .layout-wrapper.menu-layout-static .layout-main, .layout-wrapper.menu-layout-static .layout-footer {
    margin-left: 0px; }
  .layout-wrapper.menu-layout-static.layout-menu-static-active .layout-menu-container {
    margin-left: 0;
    z-index: 999999999; }
  .layout-wrapper.menu-layout-static.layout-menu-static-active .topbar {
    z-index: 999999998; }
    .layout-wrapper.menu-layout-static.layout-menu-static-active .topbar .topbar-right #menu-button i {
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -o-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0); }
  .layout-wrapper.menu-layout-static.layout-menu-static-active .layout-main, .layout-wrapper.menu-layout-static.layout-menu-static-active .layout-footer {
    margin-left: 0; }
  .layout-wrapper.menu-layout-static.layout-menu-static-active .layout-mask {
    display: block; }
  .layout-wrapper.menu-layout-static.layout-menu-static-inactive .topbar .topbar-right #menu-button.menu-button-rotate i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .layout-wrapper .topbar .topbar-right #topbar-menu-button {
    display: block; }
  .layout-wrapper .topbar .topbar-right .topbar-items {
    position: absolute;
    top: 75px;
    right: 15px;
    width: 275px;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    animation-duration: .5s;
    display: none;
    background-color: #ffffff;
    border-top: 4px solid #337ab7;
    -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .layout-wrapper .topbar .topbar-right .topbar-items:before {
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 15px solid #337ab7;
      content: " ";
      position: absolute;
      top: -15px;
      left: 242px; }
    .layout-wrapper .topbar .topbar-right .topbar-items > li > a {
      width: 100%;
      display: block;
      font-size: 16px;
      padding: 10px 15px;
      color: #212529;
      position: relative; }
      .layout-wrapper .topbar .topbar-right .topbar-items > li > a i {
        display: inline-block;
        vertical-align: middle;
        margin-right: 12px;
        font-size: 16px; }
      .layout-wrapper .topbar .topbar-right .topbar-items > li > a:hover {
        background-color: #e8e8e8; }
      .layout-wrapper .topbar .topbar-right .topbar-items > li > a .topbar-item-name {
        display: inline-block;
        vertical-align: middle; }
      .layout-wrapper .topbar .topbar-right .topbar-items > li > a .topbar-badge {
        position: absolute;
        left: 30px;
        top: 10px;
        background-color: #3eb839;
        color: #ffffff;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        padding: 2px 4px;
        display: block;
        font-size: 12px;
        line-height: 12px; }
    .layout-wrapper .topbar .topbar-right .topbar-items > li > ul {
      display: none; }
      .layout-wrapper .topbar .topbar-right .topbar-items > li > ul li a span, .layout-wrapper .topbar .topbar-right .topbar-items > li > ul li a img, .layout-wrapper .topbar .topbar-right .topbar-items > li > ul li a i {
        display: inline-block;
        vertical-align: middle; }
    .layout-wrapper .topbar .topbar-right .topbar-items > li.active-top-menu > a {
      color: #337ab7; }
    .layout-wrapper .topbar .topbar-right .topbar-items > li.active-top-menu > ul {
      display: block; }
      .layout-wrapper .topbar .topbar-right .topbar-items > li.active-top-menu > ul li a {
        padding-left: 32px; }
    .layout-wrapper .topbar .topbar-right .topbar-items > li.search-item {
      width: 100%;
      display: block;
      font-size: 16px;
      position: relative;
      padding: 10px 15px; }
      .layout-wrapper .topbar .topbar-right .topbar-items > li.search-item .topbar-search input {
        top: 0;
        width: 100%;
        padding-right: 28px;
        border-color: #e5e5e5;
        color: #212529; }
        .layout-wrapper .topbar .topbar-right .topbar-items > li.search-item .topbar-search input:focus {
          border-color: #e5e5e5; }
      .layout-wrapper .topbar .topbar-right .topbar-items > li.search-item .topbar-search label {
        top: 1px;
        color: #212529; }
      .layout-wrapper .topbar .topbar-right .topbar-items > li.search-item .topbar-search i {
        position: absolute;
        right: 10px;
        top: 5px; }
    .layout-wrapper .topbar .topbar-right .topbar-items > li.profile-item .profile-image {
      display: inline-block;
      vertical-align: middle;
      width: 24px;
      height: 24px;
      background-size: 24px 24px;
      margin-right: 14px; }
    .layout-wrapper .topbar .topbar-right .topbar-items > li.profile-item span {
      vertical-align: middle;
      display: inline-block; }
    .layout-wrapper .topbar .topbar-right .topbar-items.topbar-items-visible {
      display: block; } }
@media (max-width: 399px) {
  .layout-wrapper .topbar .topbar-right #topbar-menu-button {
    right: 10px; }
  .layout-wrapper.layout-rtl .topbar .topbar-right #topbar-menu-button {
    left: 10px; } }
/* Add your customizations of layout here */
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v15-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto-v15-latin-300.eot#iefix") format("embedded-opentype"), url("../fonts/roboto-v15-latin-300.woff2") format("woff2"), url("../fonts/roboto-v15-latin-300.woff") format("woff"), url("../fonts/roboto-v15-latin-300.ttf") format("truetype"), url("../fonts/roboto-v15-latin-300.svg#Roboto") format("svg");
  /* Legacy iOS */ }
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v15-latin-regular.eot#iefix") format("embedded-opentype"), url("../fonts/roboto-v15-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v15-latin-regular.woff") format("woff"), url("../fonts/roboto-v15-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v15-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */ }
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v15-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v15-latin-700.eot#iefix") format("embedded-opentype"), url("../fonts/roboto-v15-latin-700.woff2") format("woff2"), url("../fonts/roboto-v15-latin-700.woff") format("woff"), url("../fonts/roboto-v15-latin-700.ttf") format("truetype"), url("../fonts/roboto-v15-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../fonts/MaterialIcons-Regular.woff2") format("woff2"), url("../fonts/MaterialIcons-Regular.woff") format("woff"), url("../fonts/MaterialIcons-Regular.ttf") format("truetype"); }
