/* ----------------*/
.bbvaItLogo {
  background-color: rgba(0, 0, 0, 0);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url('./components/images/world.svg');
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  height: 80px;
  width: 80px;
}
.p-mr-2 {
  margin-right: .5rem !important;
}

/* APP */
.layout-main{
  background: #bccceb;
}
.label {
  font-weight: bold;
}

.mnsInput{
  color: rgba(146, 182, 180, 0.6) !important;
  transition-duration: 1.2s !important;
}
/* CABECERA */
.iconLoad {
  font-size: 26px !important;
  margin-top: -2px;
}
.topbar-right h1 {
  float: left;
  margin-top: 0px;
  margin-left: 30px;
  color: white;
}
/* PIE */
.panelFooter {
  padding-left: 25.5%;
}
.p-field {
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-top: 1.3rem;
}
.p-formgroup-inline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: start;
  align-items: flex-start;
}
/* MENU */



